
#id1{ /*1st container */
    border-top: 8px solid rgb(128, 0, 128);
}
#id11{ /*student details*/
    font-size: 30px;
    font-weight: bold;
}
#required{ /* required */
    color: red;
    display: inline;
}
#id12{ /*students are required to fill form */
    font-size: 20px;
}
#id101{ /* submit here */ 
    color: white;
    background: #7a119b;
}
.c1{ /*each input type container*/
    color: black;
    background: #fcfcfc;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 7px;
    padding: 10px;
    margin: 10px 25vw;
}
.c2{ /*never submit password*/
    margin: 5px 25vw;
    padding: 10px;
}
#id1000{ /*whole form */
    background:#d2d4d4;
}
